.frameChild,
.title {
  position: relative;
  flex-shrink: 0;
}
.title {
  text-decoration: none;
  width: 127px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.frameChild {
  width: 1105px;
  height: 505px;
  max-width: 131%;
  z-index: 0;
}
.frameItem {
  width: 285.5px;
  height: 285.5px;
  position: absolute;
  margin: 0 !important;
  top: 197.9px;
  left: 384.9px;
  filter: blur(240.93px);
  border-radius: 50%;
  background-color: var(--color-darkslategray-1100);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.groupParent {
  height: 134px;
  width: 846px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.status {
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--grey-2);
}
.statusIndicator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.themeIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.avatarContainer,
.lightMode {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lightMode {
  overflow: hidden;
  padding: var(--padding-12xs);
  width: 18px;
  height: 18px;
}
.avatarContainer {
  width: 51px;
  border-radius: var(--br-61xl);
  background-color: var(--table-bg);
  border: 1px solid var(--table-bg-border);
  padding: var(--padding-12xs) var(--padding-9xs);
  gap: var(--gap-6xs);
}
.timsWorkspace {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 113px;
}
.name,
.nameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.nameWrapper {
  align-items: center;
}
.arrowBackIosIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.titleParent,
.workspaceInfo,
.workspaceNameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.workspaceNameContainer {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.titleParent,
.workspaceInfo {
  flex-direction: row;
  gap: var(--gap-3xl);
  font-size: var(--regular1-size);
}
.titleParent {
  position: absolute;
  top: 3px;
  left: 57px;
  box-shadow: 0-186px 120px rgba(37, 39, 56, 0.1) inset;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--table-bg-border);
  border-right: 1px solid var(--table-bg-border);
  border-bottom: 1px solid var(--table-bg-border);
  box-sizing: border-box;
  width: 1383px;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-lgi) var(--padding-mid)
    var(--padding-14xl);
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 8;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 450px) {
  .titleParent {
    flex-wrap: wrap;
  }
}
