.orladomgmailcom,
.orlando {
  position: relative;
  white-space: nowrap;
}
.orlando {
  align-self: stretch;
  line-height: 20px;
  font-weight: 600;
}
.orladomgmailcom {
  text-decoration: none;
  width: 156px;
  font-size: var(--regular-size);
  line-height: 18px;
  color: var(--color-gray-1200);
  display: inline-block;
}
.avatarNameText {
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--regular1-size);
  color: var(--color-white);
  font-family: var(--regular);
}
.backCircle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 100%;
}
.frameChild {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: var(--br-31xl);
  background-color: var(--color-khaki);
  width: 12px;
  height: 12px;
  z-index: 1;
}
.backCircleParent {
  height: 20px;
  width: 20px;
  position: relative;
}
.backAction {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.meetingCompleted {
  position: relative;
  line-height: 19px;
  font-weight: 600;
  display: inline-block;
  min-width: 114px;
  white-space: nowrap;
}
.meetingStatusChild {
  height: 13.5px;
  width: 0;
  position: relative;
  display: none;
}
.backActionParent,
.meetingStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.meetingStatus {
  padding: var(--padding-12xs) 0;
}
.backActionParent {
  gap: var(--gap-5xs);
}
.arrowBackIosIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.actionButtons,
.backButtonContainer {
  display: flex;
  justify-content: flex-start;
}
.backButtonContainer {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--table-bg-border);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-6xs);
  gap: var(--gap-7xs);
}
.actionButtons {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6xs-5) var(--padding-5xs) 0 0;
}
.move {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 32px;
}
.arrowBackIosIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 16px;
}
.moveButtonContainer,
.moveParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.moveParent {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--table-bg-border);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-mini);
  gap: var(--gap-7xs);
}
.moveButtonContainer {
  width: 92px;
  flex-direction: column;
  padding: var(--padding-6xs-5) var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.moreHorizIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.moreHorizWrapper {
  width: 32px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--table-bg-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs);
}
.functionBar,
.moreOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.functionBar {
  flex: 1;
  border-radius: var(--br-6xs) var(--br-6xs) 0 0;
  border-bottom: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-3xs);
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--regular-size);
  color: var(--color-lightgray);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1000px) {
  .avatarNameText {
    display: none;
  }
}
